body {
	font-family: open-sans, sans-serif;
	color: #ecac2e;
}
.section {
	background: url(../img/first-bg.jpg) no-repeat, center top;
	height: 100vh;
}
.header {
	font-size: 29px;
	color: #ecac2e;
	font-weight: bold;
	line-height: 1.5;
}
.header span {
	display: block;
	font-size: 32px;
	color: #c5a842;
}
.form {
	border: 5px solid #65532f;
	border-radius: 10px;
	padding: 30px;
	margin-top: 139px;
}
.form-header {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 15px;
}
.form input {
	background: none;
	border: 4px solid #ecac2e;
	border-radius: 10px;
	color: #ecac2e;
	margin-bottom: 20px;

}
.form-btn {
	margin: 15px auto;
	background: #ecac2e;
	color: #020202;
	text-transform: uppercase;
	font-weight: bold;
}